        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

  .resultados {
   width: 80%;
   margin: 30px auto;
 background: white;
padding: 20px;
  border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 display: flex;
  margin-top: 60px;
  flex-wrap:wrap;
  gap: 2px;

}

.metodologia{
  margin-top: 2%;
  width: 100%;
}


.tabela{
  margin-top: 2%;
  width: 100%;
  
}

.left-section {
            flex: 2;
            padding-right: 20px;
        }
  .right-section {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }







        h2 {
          color: #34495e;
          margin-bottom: 10px;
          border-bottom: 2px solid #3498db;
          padding-bottom: 5px;
          text-align: center;
          width: 100%;
          border-radius: 5px;
      }
        .info {
            display: flex;
            flex-direction: column;
        }
        .info div {
            padding: 10px;
        }
        .info strong {
            color: #333;
        }
      
       
        .back-link:hover {
            text-decoration: underline;
        }

        .map-container {
            width: 100%;
            height: 250px;
            background: #ddd;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .table-container {
            width: 75%;
            height: auto;
            background: white;
            border: 1px solid #ccc;
            overflow: auto;
            border-radius: 5px;
            padding: 10px;
            text-align: center;
            margin-top: 20px;
        }

        table {
          width: 75%;
          border-collapse: collapse;
          
          
      }
      
      
      table th, table td {
          padding: 10px;
          text-align: left;
          border: 1px solid #ddd;
      }
      
      table th {
          background-color: #3498db;
          color: #fff;
      }
      
      table tr:nth-child(even) {
          background-color: #f9f9f9;
      }
      






/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////


#principal1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 40px;
    margin-bottom: 5px;
    
   color: #f0f0f0;
   border-radius: 10px;
    
    
    height: 90px;
    
    text-align: center;
font-size: large;
}


a.voltar {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  text-align: center;
  
}



.voltar {
  background-color: #f1f1f1;
  color: black;

  
}

  
#principal2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 79%;
  height: auto;
}

.linha {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 7;
}

#coluna-esq-dir #colun-esq {
  flex: 1;
  text-align: right;
  background-color:aliceblue;
  border: none;
}

#coluna-esq-dir #colun-med {
  
  flex: 3;
  background-color: rgb(255, 255, 255);
  border: none;
}

#coluna-esq-dir #colun-dir {
  flex: 3;
  background-color: rgb(255, 255, 255);
  border: none;
}
*/


/*
.coluna {
  border: 1px solid #000;  Apenas para visualização 
  padding: 10px;
  margin: 1px;
  background-color: #f0f0f0;
}



.mapa {
  width: 100%;
  display: flex;
  margin-top: 20px; 
}


@media (max-width: 600px) {
  .linha {
    flex-direction: column;
  }
}



  .label { 
    color: black; 
  }
  .id-value { 
    color: rgb(212, 14, 14); text-decoration: underline; 
  }
  .latitude-value { 
    color: rgb(212, 14, 14); text-decoration: underline; 
  }
  .longitude-value {
    color: rgb(212, 14, 14); text-decoration: underline; 
    }
  .profundidade-value { 
    color: rgb(212, 14, 14); text-decoration: underline; 
   }
  .recuperacao-value {
    color: rgb(212, 14, 14); text-decoration: underline; 
    }
  .data-value { 
    color: rgb(212, 14, 14); text-decoration: underline; 
  }



  #btn, #btn-visu {
    background-color: coral;
    color: black;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário 
    border-radius: 2%;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center; /* Centraliza o texto horizontalmente 
    width: 160px; /* Defina uma largura fixa para ambos 
    height: 70px; /* Defina uma altura fixa para ambos 
    box-sizing: border-box; /* Inclui o padding e border na largura e altura 
  }
  
  #btn-visu {
    background-color: brown; /* Cor específica para este botão 
  }
  
  #btn:hover, #btn-visu:hover {
    background-color: RoyalBlue;
  }

*/













/* CSS para pagina de consulta */
.flex-wrapper {
    width: auto;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.filter-forms-result {
    width: auto;
    height: auto; /* Ajustar para auto se o conteúdo interno variar em altura */
    margin: 2px;
    display: flex;
    flex-direction: column;
    
}

.filter-top-forms-result {
    margin-bottom: 20px;
    padding: 10px; 
    
}

#filter-forms-label {
    font-weight: bold;
}



.results-consult-result {
    width: 80%;
    height: auto; /* Ajustar para auto se o conteúdo interno variar em altura */
    margin: 2px;
    
}


.result-consult-forms {
    margin-bottom: 10px;
    padding: 10px;
    
}

#result-fomrs {
    font-weight: bold;
}


.table-responsive {
    overflow-x: auto;
    width: 100%;
}

.correspondente,
.titulo-trab,
.periodico-trab,
.doi-trab,
.data-trab,
.keyword-trab,
.coord-ponto,
.proxy-trab,
.equip-trab,
.desc-met,
.tabela-trab{
    text-align: right;
    font-weight: bold;
    font-size: large;
       
}

.correspondente-dir,
.titulo-trab-dir,
.periodico-trab-dir,
.doi-trab-dir,
.data-trab-dir,
.keyword-trab-dir,
.coord-ponto-dir,
.proxy-trab-dir,
.equip-trab-dir,
.desc-met-dir,
.tabela-trab-dir{
    text-align: left;
    font-weight: bold;
    font-size: large;
       
}

@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      width: 95%;
  }
}