
html {
  scroll-padding-top: 3.5rem;
}

header {
  padding-top: 9.5rem;
  padding-bottom: 6rem;
}

section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}


.info-icon {
  font-size: 18px; /* Ajuste o tamanho do ícone aqui */
  color: orange;  /* Ajuste a cor do ícone aqui */
}

.tooltip-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: -50px; /* Ajuste de posição vertical */
  left: 500%;
  transform: translateX(-50%);
  opacity: 0;
  background: #f2f2f2;
  padding: 8px 14px;
  border: 1px solid rgb(255, 165, 0);
  border-radius: 5px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  font-size: 16px;
  font-weight: 600;
  color: #202020;
  text-align: justify;
  width: 500px; /* Largura máxima para ajustar a caixa */
  height: auto;
  white-space: normal; /* Permite que o texto quebre em várias linhas */
  pointer-events: none;
}

.tooltip-container:hover 
.tooltip {
  top: -50px;
  left: 500%;
  opacity: 1;
  transition-duration: 0.1s;
  pointer-events: auto;
}

.bold{
font-weight: bold;
text-decoration: underline;
}


/* PARA A BORDA ENTRE AS CAIXAS*/
.bordaPg{
  border: 1px solid;
  border-color:#00000067;
  padding: 10px;
  border-radius: 8px;
  margin: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

.coordenadas-campo input {
  margin-right: 4.8px;
  box-sizing: border-box;
}

#icon-info{
  color: orange;
  font-size: 18px;
  cursor: pointer;

}


.aqui-sub{
  color: white;
  cursor: pointer;
text-decoration: underline red;
}

li a.aqui-sub:hover{
  color: #000;
}


/* auto compelte autores*/


autocomplete-input {
  position: relative;
  display: inline-block;
}

.autocomplete-container {
  position: absolute;
  width: auto;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.autocomplete-list li {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-list li:hover {
  background-color: #7ce5e9;
}
.autocomplete-list li.selected{
  background-color: #7ce5e9;
}


a.link-pesq{
  color: #000000a1;
  font-size: large;
  text-decoration: none;
}

a.link-pesq:hover{
  color: #d4560df3;
  text-decoration:underline;
}




/* COLUNA PARA CAMPO AUTORES*/
.colunaaut {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  margin-right: 2px;
}

.autor-campo {
  margin-bottom: 5px;
  width: 100%;/* Espaçamento entre campos de autores */

}

.colunafili{
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.colunaaut2 {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  margin-right: 6px;
}

/* Camo para dividir entre 3 colunas nos tipos de amostra*/
/* COLUNA PARA CAMPO AUTORES*/

#amostras {
  display: inline-block;
  width: 30%;
  vertical-align: center;
  padding: 10px;
  box-sizing: border-box;
 }

#proxys-container {
  display: inline-block;
  width: 65%;
  vertical-align: top;
  padding: 10px;
  box-sizing: border-box;
}


#proxys, #proxys2{
  display: inline-block;
  width: 48%;
  vertical-align: top;
  padding: 5px;
  box-sizing: border-box;
  white-space: nowrap;
}



/* equipamentos container*/
#equipamentos-container {
  display: inline-block;
  width: 90%;
  vertical-align: top;
  padding: 10px;
  box-sizing: border-box;
}


#equip1, #equip2, #equip3 {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding: 5px;
  box-sizing: border-box;
  white-space: nowrap;
 
}


/* centralizar mapa*/
#mapageral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh; /* Altura total da viewport */
}

.mapa-nome {
  width: 100%;
  text-align: center;

}

.mapa-geral {
  display: flex;
  justify-content: center;
  align-items: center;
  width:1000px; /* Ajuste conforme necessário */
  height: 500px; /* Ajuste conforme necessário */
  border: 1px solid #000; /* Define a borda para o retângulo */
}

.mapa-geral iframe {
  width: 100%;
  height: 100%;
  border: 0;
}


/*  novo usuário */

#login-acss section{
  margin-bottom: 10px; 
  border: 3px double black; 
  padding: 20px; 
  width: 60%; 
  margin: 0 auto; 
}

#login-acss{
  text-align: center;
}
#login-acss label,

#login-acss input {
    display: inline-block;
    vertical-align: top;
    width: 60%; /* ou o valor desejado */
    margin-right: 1%;/* margem direita para separar os elementos */
}


/* caso o valor for nulo a linha fica vermelha*/
.texto-vermelho {
  color: red;
}





/*dividir em duas colunas*/

.coluna {
  float: left;
  width: 49%; /* Define o tamanho de cada coluna */
   /* Adiciona algum espaço entre as colunas */
}

/* Limpa os floats após as colunas para evitar problemas de layout */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



/* Estilo padrão do botão e input dentro da div .search1 */
.search1 button, .search1 input {
  position: relative;
  border: none; /* Remove borda */
  background: none; /* Remove fundo */
  outline: none; /* Remove contorno ao focar */
  padding: 0; /* Remove preenchimento padrão */
  margin: 0; /* Remove margens padrão */
}

/* Redefinindo estilos do ícone para remover qualquer formatação aplicada */
.search1 i {
  all: unset; /* Remove todos os estilos herdados */
  font-family: "Bootstrap Icons"; /* Adiciona a família de fonte específica, se necessário */
  font-style: normal; /* Define o estilo da fonte como normal */
  font-size: 16px; /* Ajuste de tamanho do ícone */
  color: inherit; /* Herdar a cor do elemento pai */
}

/* Adicional: Estilos para melhorar a aparência do botão */
.search1 button {
  cursor: pointer; /* Mostra cursor de ponteiro ao passar sobre o botão */
  padding: 0; /* Remove preenchimento padrão */
  margin: 0; /* Remove margens padrão */
  border-radius: 25%;
  background: none; /* Remove fundo */
  border: none; /* Remove borda */
  outline: none; /* Remove contorno ao focar */
}

/* Remover fundo azul ao interagir */
.search1 button:hover,
.search1 button:focus,
.search1 button:active {
    background-color: transparent; /* Remove fundo ao interagir */
    outline: none; /* Remove contorno ao focar */
}



/* dinamica do Search */ 
.search1 input[type=text] {
  width: 80px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.search1 input[type=text]:focus {
  width: 89%;
}


/* COR ONDE O CURSOR ESTA*/

input[type=text]:focus,
input[type=tel]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
textarea[type=text]:focus,
input[type=date]:focus {
  background-color:rgb(216, 220, 255);
}

/*
#autor-button div{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 15px;
  margin-left: 100px   

}
não funcionou */


button {
  font-family: var(--bs-font-sans-serif);
  background-color: var(--bs-link-hover-color);
  color: #fff;
  padding: 6px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  
  
}

/* CSS para caixa de login*/
#loginDialogOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align:center;
}

#loginDialog {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

/* Estilo para esconder a barra de rolagem do body quando a caixa de diálogo está aberta */
body.dialog-open {
  overflow: hidden;
}


.lgbttn {
  background-color:var(--bs-link-hover-color);
  color: white;
  padding: 5px 8px;
  margin: 5px 0px;
  border-style: solid;
  cursor: pointer;
  width: 40%; 
}

.lgbttn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #06357a; 
}



.social{
  text-align: center;
}







/* formulário primeira pagina SUBMIT-HMTL*/

#forms{
  margin-bottom: 10px; border: 1px solid black; padding: 20px; width: 75%; margin: 0 auto; 
      }
    .form-section {
      display: none;
    }

    .form-section.active {
      display: block;
    }


/* deixar na mesma linha a identificação da revista */    
#coordenadas label{
display: flex;



}

#coordenadas div{
  display: flex;
  width: 65%;
  margin-bottom: 8px;
}

#idet-revista label {
  display: flex;
  width: 18%;
  
  margin-bottom: 10px;
}

#idet-revista div {
  display: flex;
  width: 65%;
  margin-bottom: 8px;
}


#DOI label {
  display: flex;
  
  margin-bottom: 10px;
}

#DOI div{
  display: flex;
  margin-bottom: 8px;
}


/* AREA DO RESUMO - TEXTAREA*/
textarea{
  width: 85%;
  
}